repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-ast
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: check-case-conflict
    - id: debug-statements
    - id: mixed-line-ending
      args: ['--fix=no']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.14.11'
    hooks:
    - id: ruff-check
      types_or: [python, pyi, jupyter, toml]
      args: [ --fix, --exit-non-zero-on-fix ]
  - repo: https://github.com/akaihola/darker
    rev: v3.0.0
    hooks:
      - id: darker
        args:
          - --formatter=ruff
        additional_dependencies:
          - ruff~=0.12.11
