name: Lint with Darker

on: [push, pull_request]

jobs:
  lint-with-darker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: akaihola/darker@v2.1.1
        with:
          options: "--check --diff"
          src: "./src"
          revision: "origin/main..."
          version: "2.1.1"
