name: Lint with Darker

on: [push, pull_request]

jobs:
  lint-with-darker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: akaihola/darker@v3.0.0
        with:
          options: "--check --diff"
          src: "./src"
          revision: "origin/main..."
          version: "@e3c210b5c1b91400c3f317b2474c10ab23bec1cf"
